@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-dark: #1A1A1A;
    --color-grey: #D7D7D7;

    --border-radius-primary: 38px;
}

/* HERO */
.section---hero {
    background-color: var(--color-grey);
    height: 38rem;
    border-radius: var(--border-radius-primary);
    margin-left: 4rem;
    margin-right: 4rem;
}

.section---hero img {
    height: 30em;
    width: 19em;
    border-radius: 18px;
    box-shadow: #0002 0 1.6px 3.6px, #0000001c 0 .3px .9px;
}


.embla {
    overflow: hidden;
    width: 500px;
    position: absolute;
    right: 108px;
    top: 120px;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    display: flex;
}